{% extends "home.jinja2" %}

{% block content %}
<center>
  <div class="content">
    <h1><span class="font-semi-bold">Interstate Sales</span></h1>
    <p class="lead"><span class="font-semi-bold">404</span> Page Not Found</p><br><br>
  </div>
</center>
{% endblock content %}
