<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta name="description" content="Interstate Sales has been selling top quality highway safety devices for over 40 years!At Interstate Sales our mission is to provide our customers with excellent products and outstanding customer service. We are a wholesale distributor, which means you save on the price." />
    <meta name="keywords" content=" Gregory guardrail, EKT end treatment, Fleat end treatment,traffic paint,traffic signs,highway safety materials,ennis paint,graco, impact recovery, sign posts,sign hardware,stencils, corten,road signs, delineators, channelizers, tubular post, square posts, u-channel post, sign brackets, sign mounting, custom signs, trash bags, batteries, barricades, thermoplastic, flashers, caution tape, glass beads, reflective beads, flint, hotape,premark, potters, swarco, transpo, pavement markers, RPM, centermount reflectors, bituminous, hot melt adhesive, stick'n'stomp, epoxy, primer, reflective tape, sign blanks, reflective sheeting, 3m, ekt, skt, sand bags, big sandy, crash barrels, cones, reflective cones, loopers, ringtop, downing bituminous applicators, crack sealant, cold patch, pothole patch,">
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="{{request.static_url('interstate_sales:static/favicon.ico')}}" type="image/x-icon">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
              $('.scrollup').fadeIn();
          } else {
              $('.scrollup').fadeOut();
          }
        })
      });
    </script>
    <link href="{{request.static_url('interstate_sales:static/theme.css')}}" rel="stylesheet">
    <title>Interstate Sales - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body style="background-color:white;">
    <div id="wrap">
    <a href="#" id="top"><b></b></a>
    <div id="Banner_image" style="width:980px">
      <img src="{{request.static_url('interstate_sales:static/Interstate_Sales_Backdrop.jpg')}}" alt="Interstate Sales" width="980" height="300">
    </div>
    <div id="container1" style="width:980px">
    <a style="position: fixed; bottom:5px;right:5px;" class="scrollup" href="#" title="Back to Top">
      <img style="border: none;" src="{{request.static_url('interstate_sales:static/arrow6.jpg')}}" alt="up icon">
    </a>

    <center>
    <ul id="nav">
      <li id="home"><a href="{{request.route_url('home')}}">Home</a></li>
      <li id="guardrail"><a href="{{request.route_url('guardrail')}}">Guardrail</a>
        <ul>
          {% for item in gr_subcats %}
            {% if '/guardrail' in request.path %}
              <li><a href="#{{ item.replace(' ', '').lower() }}">{{ item }}</a></li>
            {% else %}
              <li><a href="{{request.route_url('guardrail')}}#{{ item.replace(' ', '').lower() }}">{{ item }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      <li id="paint"><a href="{{request.route_url('paint')}}">Traffic Paint</a>
        <ul>
          {% for item in tr_subcats %}
            {% if '/paint' in request.path %}
              <li><a href="#{{ item.replace(' ', '').lower() }}">{{ item }}</a></li>
            {% else %}
              <li><a href="{{request.route_url('paint')}}#{{ item.replace(' ', '').lower() }}">{{ item }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      <li id="markings"><a href="{{request.route_url('markings')}}">Pavement Markings</a>
        <ul>
          {% for item in pm_subcats %}
            {% if '/markings' in request.path %}
              <li><a href="#{{ item.replace(' ', '').lower() }}">{{ item }}</a></li>
            {% else %}
              <li><a href="{{request.route_url('markings')}}#{{ item.replace(' ', '').lower() }}">{{ item }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      <li id="markings"><a href="{{request.route_url('safety')}}">Construction Safety</a>
        <ul>
          {% for item in cs_subcats %}
            {% if '/safety' in request.path %}
              <li><a href="#{{ item.replace(' ', '').lower() }}">{{ item }}</a></li>
            {% else %}
              <li><a href="{{request.route_url('safety')}}#{{ item.replace(' ', '').lower() }}">{{ item }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      <li id="markings"><a href="{{request.route_url('signs')}}">Signs</a>
        <ul>
          {% for item in signs_subcats %}
            {% if '/signs' in request.path %}
              <li><a href="#{{ item.replace(' ', '').lower() }}">{{ item }}</a></li>
            {% else %}
              <li><a href="{{request.route_url('signs')}}#{{ item.replace(' ', '').lower() }}">{{ item }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      <li id="markings"><a href="{{request.route_url('equipment')}}">Equipment</a>
        <ul>
          {% for item in equipment_subcats %}
            {% if '/equipment' in request.path %}
              <li><a href="#{{ item.replace(' ', '').lower() }}">{{ item }}</a></li>
            {% else %}
              <li><a href="{{request.route_url('equipment')}}#{{ item.replace(' ', '').lower() }}">{{ item }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      <li id="markings"><a href="{{request.route_url('team')}}">Our Team</a>
        <ul>
          {% for item in team_subcats %}
            {% if '/team' in request.path %}
              <li><a href="#{{ item.replace(' ', '').lower() }}">{{ item }}</a></li>
            {% else %}
              <li><a href="{{request.route_url('team')}}#{{ item.replace(' ', '').lower() }}">{{ item }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>


      <li id="contact"><a href="{{request.route_url('contact')}}">Contact Us</a></li>
    </ul>
    </center>

    <div id="header" style="background:gold;height:50px;width:980px;float:left;">

      <div>
        <form class="" action="search" method="post">
          <input type="text" name="search" maxlength="25" value="" style="width: 15rem; float: right; position: absolute; margin-top: .75rem; margin-left: .75rem;">
          <input style="margin-top: .75rem; margin-left: 17rem; width: 6rem; left: 18rem;" type="submit" value="Search"}>
        </form>
      </div>
    </div>
    <div id="header" style="background-color:white;height:25px;width:980px;float:left;"></div>

    {% if auth %}

      <div id="header" style="background:grey;height:50px;width:980px;float:left;">

        <div>
          <form class="" action="item/new-entry" method="get">

            <input style="margin-top: .75rem; margin-left: .75rem;" type="submit" value="Add Item">
          </form>
          <form class="" action="upload" method="get">

            <input style="position:absolute;float:left;margin-top: .75rem; margin-left: .75rem;width: 200px;" type="submit" value="Upload Image">
          </form>
        </div>
        <div>

        </div>

      </div>
      <div id="header" style="background-color:white;height:25px;width:980px;float:left;"></div>

    {% endif %}

    {% block content %}
    {% endblock content %}

    <div id="footer" style="background-color:gold; clear:both; text-align:center; width:980px; float:left;">
      <a href="{{request.route_url('home')}}" style="text-decoration:none;color:black;">
        <p><center><b>www.interstatesales.com</center></p>
      </a>
    </div>


  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
</html>
