{% extends "base.jinja2" %}

{% block content %}

  <div id="header" style="background-color:white;height:50px;width:980px;float:left;"></div>
  <div id="header" style="background-color:white;height:100px;width:350px;float:left;">
  <center><img src="{{request.static_url('interstate_sales:static/wpp.bmp')}}" alt="We proudly Present" width="225" height="90"></center></div>
  <div id="header" style="background-color:white;height:100px;width:400px;float:left;"></div>
  <div id="header" style="background-color:white;height:100px;width:230px;float:left;"></div>

  <div id="header" style="background-color:gold;height:125px;width:295px;float:left;"></div>
  <div id="header" style="background-color:white;height:125px;width:395px;float:left;">
  <center><img src="{{request.static_url('interstate_sales:static/')}}graco.jpg" alt="graco logo" width="200" height="120"></center></div>
  <div id="header" style="background-color:gold;height:125px;width:290px;float:left;"></div>

  <div id="header" style="background-color:white;height:75px;width:100%;float:left;"></div>


  <div id="menu" style="background-color:white;height:250px;width:196px;float:left;">
  <center><img src="{{request.static_url('interstate_sales:static/')}}linelazer5900.jpg" alt="looper" style="max-width:180px;"><br><a href="http://www.graco.com/us/en/products/product-families/linelazer.html" style="color:#0000FF;text-align:left">LineLazer Series</a></center></div>
  <div id="content" style="background-color:white;height:250px;width:196px;float:left;">
  <center><img src="{{request.static_url('interstate_sales:static/')}}roadpak.jpg" alt="roadpak" style="max-width:180px;"><a href="http://www.graco.com/us/en/products/contractor/roadlazer-roadpak-system.html" style="color:#0000FF;text-align:left">RoadLazer RoadPak System</a></center></div>
  <div id="content" style="background-color:white;height:250px;width:196px;float:left;">
  <center><img src="{{request.static_url('interstate_sales:static/')}}thermolazer.png" alt="thermolazer"style="max-width:155px;"><a href="http://www.graco.com/us/en/products/product-families/thermolazer.html"style="color:#0000FF;text-align:left">ThermoLazer Series</a></center></div>
  <div id="content" style="background-color:white;height:250px;width:196px;float:left;">
  <center><img src="{{request.static_url('interstate_sales:static/grindlazer.jpg')}}" alt="grindlazer" style="max-width:180px;"><br><a href="http://www.graco.com/us/en/products/product-families/grindlazer.html"style="color:#0000FF;text-align:left">GrindLazer Series</a></center></div>
  <div id="content" style="background-color:white;height:250px;width:196px;float:left;">
  <center><img src="{{request.static_url('interstate_sales:static/')}}accessories.png" alt="accessories"style="max-width:160px;"><br><a href="http://www.graco.com/us/en/products/product-type/accessories.html" style="color:#0000FF;text-align:left">Accessories</a></center></div>

{% endblock content %}
