{% extends "base.jinja2" %}
{% block title %}Home{% endblock %}

{% block content %}
<!--
  <div class="overlay">
    <a id="logo" href="" onclick="return false;">
      <h1>Here is an anoying popup...</h1>
      <img src="{{request.static_url('interstate_sales:static/images/50th_banner.jpg')}}"
        alt=""></a>
  </div>
-->
  <div id="content_1" style="background-color:black;color:white;height:415px;width:490px;float:left;"><br><br>
    <center><h1><em> Welcome to <b>Interstate Sales</b></em></h1></center>

    <p align="justify" style="border:10px">
      We are your provider of Traffic Safety Supplies. For over 45 years we have had the opportunity to bring great products to the people who use them. Interstate Sales is a family owned and operated business
      located in Northern California. Whether you are near or far we can get your order to you promptly. While our warehouse has gotten bigger our small town feel and personalized
      attention has not. Please give us a call or stop by our office.
    </p><br>

    <center>
      <img src="{{request.static_url('interstate_sales:static/images/cert_small_business.jpg')}}"border="3">
    </center>
  </div>

  <div id="content_2" style="background-color:black;height:415px;width:490px;float:left;"><br>
    <center>
      <img src="{{request.static_url('interstate_sales:static/images/office.jpg')}}" alt="office" width="430" height="340" border="2">
    </center>
  </div>

  <div id="content_5" style="background-color:gold;height:80px;width:980px;float:left;"><br>
    <center><h3>We Proudly Partner With Industry Leaders To Bring You The Best Products</h3></center>
    <center><h5>(Please click on the links below for more information)</h5></center>
  </div>

  <div id="content_5" style="background-color:black;height:150px;width:980px;float:left;"><br>
    <center>
      <a href="{{ request.route_url('gregory') }}">
        <img src="{{request.static_url('interstate_sales:static/images/gregory.gif')}}" alt="gregory" width="120" height="60"border="3" align="center" >
      </a>
      <a href="{{ request.route_url('saso') }}">
        <img src="{{request.static_url('interstate_sales:static/images/saso_logo.jpg')}}" alt="saso" width="120" height="60" border="3"align="center" >
      </a>
      <a href="{{ request.route_url('ennis-flint') }}">
        <img src="{{request.static_url('interstate_sales:static/images/ennis_logo.png')}}" alt="ennis_logo" width="120" height="100"border="3" align="center">
      </a>
      <a href="{{ request.route_url('graco') }}">
        <img src="{{request.static_url('interstate_sales:static/images/graco.jpg')}}" alt="gracologo" width="120" height="100" border="3"align="center">
      </a>
      <a href="{{ request.route_url('impact-recovery') }}">
        <img src="{{request.static_url('interstate_sales:static/images/impact_logo.png')}}" alt="impact_logo" width="120" height="60"border="3" align="center">
      </a>
      <a href="{{ request.route_url('u-teck') }}">
        <img src="{{request.static_url('interstate_sales:static/images/u-teck.jpg')}}" alt="u-teck" width="120" height="60" border="3" align="center" >
      </a>
    </center>
  </div>

  <div id="content_3" style="background-color:white;height:300px;width:980px;float:left;">
    <img src="{{request.static_url('interstate_sales:static/images/newservicesbanner.jpg')}}" alt="new" width="980" height="300" border="0" >
  </div>

  <div id="content_6" style="background-color:black;color:white;height:90px;width:980px;float:left;"><br>
    <center>
      <h3>
        Interstate Sales has provided trusted service since 1969.<br>
        We offer quality products with outstanding customer service. <br>
      </h3>
    </center>
  </div>

  <div id="content_6" style="background-color:black;height:275px;width:980px;float:left;">
    <center>
      <img src="{{request.static_url('interstate_sales:static/images/wpan4.jpg')}}" alt="warehouse" width="900" height="220"border="2" >
    </center>
  </div><br>

  <div id="content_5" style="background-color:gold;height:10px;width:980px;float:left;"></div>
  <div id="content_5" style="background-color:black;height:10px;width:980px;float:left;"></div>
  <div id="content_5" style="background-color:gold;height:10px;width:980px;float:left;"></div>
  <div id="content_6" style="background-color:black;height:300px;width:350px;float:left;"><br>
    <center>
      <div id="content" style="background-color:black;height:250px;width:230px;float:right;">
        <a href="{{ request.route_url('contact') }}" style="color:white">
          <img src="{{request.static_url('interstate_sales:static/images/auburn.jpg')}}" width="200" height="200" border="3"><p>Follow Link to Contact Us</p></a></center>
      </div>

    <div id="content_6" style="background-color:black;color:white;height:300px;width:280px;float:left;">
    <center><h2><p><br><br>Now Offering Two Warehouse Locations In California To Better Serve You!</center></p></div>

    <div id="content_6" style="background-color:black;height:300px;width:350px;float:left;">
      <br>
      <center><div id="content" style="background-color:black;height:250px;width:230px;float:left;"><a href="http://www.tmantraffic.com" target="_blank" style="color:white">
      <img src="{{request.static_url('interstate_sales:static/images/el_cajon.jpg')}}" width="200" height="200" border="3"><p>Follow Link to T-Man Traffic</p></a></center><br>
    </div>

    <div id="header" style="background-color:white;height:15px;width:980px;float:left;"></div>
    <div id="address_1" style="width:980px; background-color:white;">
      <a href="{{ request.route_url('contact') }}" style="text-decoration:none;color:black;">
        <p style="font-family:arial;color:black;font-size:18px;font-weight:bold; text-align:center">
        12600 Locksley Lane&emsp;Suite #200&emsp;Auburn, California&emsp;95602
      </a>
    </div>
  <br>
{% endblock content %}
