{% extends "base.jinja2" %}

{% block content %}

  <div id="header" style="background-color:white;height:50px;width:980px;float:left;"></div>
  <div id="header" style="background-color:white;height:100px;width:350px;float:left;">
  <center><img src="{{request.static_url('interstate_sales:static/wpp.bmp')}}" alt="We proudly Present" width="225" height="90"></center></div>
  <div id="header" style="background-color:white;height:100px;width:400px;float:left;"></div>
  <div id="header" style="background-color:white;height:100px;width:230px;float:left;"></div>

  <div id="header" style="background-color:gold;height:125px;width:295px;float:left;"></div>
  <div id="header" style="background-color:white;height:125px;width:395px;float:left;">
  <center><img src="{{request.static_url('interstate_sales:static/irs.bmp')}}" alt="transpo logo" width="200" height="120"></center></div>
  <div id="header" style="background-color:gold;height:125px;width:290px;float:left;"></div>

  <div id="header" style="background-color:white;height:75px;width:100%;float:left;"></div>

  <div id="header" style="background-color:white;height:200px;width:290px;float:left;"></div>
  <div id="header" style="background-color:white;height:200px;width:400px;float:left;">
  <center><img src="{{request.static_url('interstate_sales:static/irs1.jpg')}}" alt="transpo logo" width="200" height="100"><br><a href="http://www.impactrecovery.com/" style="color:#0000FF;text-align:left">Impact Recovery Systems</a></center></div>
  <div id="header" style="background-color:white;height:200px;width:290px;float:left;"></div>

{% endblock content %}
