{% extends "base.jinja2" %}
{% block title %}Our Team{% endblock %}

{% block content %}

  {% for category in team_subcats %}

    {% if category == 'Lee' %}

      <div id="{{ category }}" style="background-color:gold;height:75px;width:980px;float:left;"><center><h1 style="margin-top: 1rem;">Meet Our Interstate Family</h1></center></div><br>

    {% else %}
      <div id="{{ category.replace(' ', '').lower() }}" style="background-color:white;height:10px;width:980px;float:left;"></div><br>
    {% endif %}
    <div id="header" style="background-color:white;height:50px;width:980px;float:left;"></div>
    {% for item in team %}
      {% if item.subcategory == category %}
        {% set images = item.img.split(' ') %}
        {% if images|count > 1 %}
          <div id="menu" style="background-color:white;height:200px;width:980px;float:left;">
          <center>
          {% for image in images %}

            <img src="{{request.static_url('interstate_sales:static/images/')}}{{ image }}" alt="{{ image }}" style="width: 200px; height: 150px;">

          {% endfor %}
          </center>
          </div>
          <center>
          <div id="content" style="background-color:white;height:250px;width:950px;float:right;">
          <p></p><h4>{{ item.title }}</h4><br>{{ item.markdown | safe }}<p></p>
          </div>
          </center>
        {% elif images|count == 1 %}
        <div id="menu" style="background-color:white;width:250px; margin-left: 10%; float:left;">
          <center>
            <img src="{{ item.img | replace("open", "uc") }}" alt="{{ item.title }}" style="max-width: 225px; max-height: 200px;">
          </center>
        </div>
        <div id="content" style="background-color:white;width:500px;float:left;">
        <center>
        <p></p><h4>{{ item.title }}</h4><br>{{ item.markdown | safe }}<p></p>
        </center>
        </div>
        {% endif %}
        {% if auth %}
          <p>
          <form class="" action="item/{{item.id}}/edit-entry" method="get">

            <input type="submit" name={{item.id}} value="Edit"}>
          </form>
          <form class="" action="item/{{item.id}}/delete-entry" method="get">

            <input type="submit" name={{item.id}} value="Delete"}>
          </form>
          </p><hr style="width:980px;float:left;">
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  <div id="header" style="background-color:white;height:30px;width:980px;float:left;"></div>

{% endblock content %}
