{% extends "base.jinja2" %}
{% block title %}Upload{% endblock %}

{% block content %}
  <div id="header" style="background-color:white;height:50px;width:980px;float:left;"></div>

  <form action="/upload" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">

    <label for="image">Upload Image</label>
    <input id="mp3" name="upload_file" type="file" value="Choose File" />

    <input type="submit" value="submit" />
  </form>
  <div id="header" style="background-color:white;height:80px;width:980px;float:left;"></div>

{% endblock content %}
